﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inchirieri</h1> <br />

    <h2>Bine ati ajuns pe pagina noastra!</h2> <br /><br />


    <p class="contentText">Ne face placere sa va prezentam oferta noastra de masini si speram ca veti deveni unul dintre clientii nostri.</p>

    <p class="lead">
        A conduce un autovehicul este una dintre cele mai satisfacatoare experiente pe care omul o poate trai.
        De aceea firma noastra va ofera posibilitatea de a inchiria o serie de automobile moderne si fiabile la preturi foarte avantajoase.

    </p>


    <img src="~/Content/Images/car-15.jpg" style="margin:0 auto" ; width="100%" />



</div>
